<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target name="logfile" xsi:type="File" fileName="file.txt" />
    <target name="console" xsi:type="Console" />
    <target name="database" xsi:type="Database">
      <connectionStringName>NLog</connectionStringName>
      <commandText>
        INSERT INTO TicketingLog (
        [Date], [Hostname], [ApplicationName], [Thread],
        [Level],[Logger],[Message],[Exception],
        [MessageId],[RequestId],[CommandName]
        ) VALUES (
        @log_date, @hostname, @appname, @thread,
        @log_level, @logger, @message, @exception,
        @messageid, @requestid, @commandname)
      </commandText>
      <parameter name="@log_date" layout="${date}"/>
      <parameter name="@hostname" layout="${machinename}" />
      <parameter name="@appname" layout="${appsetting:name=AppName:default=Unknown\: set AppName in appSettings}" />
      <parameter name="@thread" layout="${threadid}" />
      <parameter name="@log_level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception}" />
      <parameter name="@messageid" layout="${mdlc:item=messageId}" />
      <parameter name="@requestid" layout="${mdlc:item=requestId}" />
      <parameter name="@commandname" layout="${mdlc:item=commandName}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="database" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>